<h1>Highscore</h1>
<div class="highscore">
<p><a href="?" >All high score lists</a></p>
<p>
    Without unique
    <a href="?wordLength=4" >4-letter words</a>
    <a href="?wordLength=5" >5-letter words</a>
    <a href="?wordLength=6" >6-letter words</a>
</p>
<p>
    With unique
    <a href="?wordLength=4&unique=true" >4-letter words</a>
    <a href="?wordLength=5&unique=true" >5-letter words</a>
    <a href="?wordLength=6&unique=true" >6-letter words</a>
</p>
</div>
<ul>
    {{#each hs }}
        <li>
            <h2>
                <span class="name">{{this.name}}:</span>
                <span class="duration">{{this.duration}} sekunder</span>
            </h2>
            <p>
                {{this.wordLength}}-letter word
                {{#if this.unique}}with unique characers{{/if}}
            </p>

        </li>
    {{/each}}

</ul>
